.nrp-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.nrp-note {
  font-size: clamp(2rem, 50dvh, 40dvh);
  line-height: 1;
  /* dark 4 */
  color: #424242;
  font-weight: 800;
}
